body {
    background-color: #222222;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover 
{
    color:#DD52A9; 
    text-decoration:none; 
    cursor:pointer;  
}


.butt {
    border: 2px solid rgba(255,255,255,.5);
    border-radius: .3vw;
    color: white;
    background-color: gray;
    cursor: pointer;
}

#main {
    margin-top:5vh;    
    margin: auto;
    width:90%;
    font-size:2vw;
    color: #FFFFFF;
}

#intro {
    margin-top: 5vh;
}

#intro h1 {
    color: #DD5285;
    font-size: 6.9vw;
    font-family: titleFont;
    text-align: center;
    letter-spacing: 1vw;
}

#intro p {
    color: #FFFFFF;
    font-size: 2vw;
    width: 60%;
    margin: auto;
    padding: 1vw;
    padding-bottom: 2.5vw;
    
}

#search {
    margin: auto;
}

#search-results {
    margin-top: 5vh;
}

input {
	border:2px solid rgba(255,255,255,.5);
	font-size: 2.3vw;
	padding:.1vw .6vw .15vw;
	color:rgba(255,255,255,.5);
	border-radius:.5vw;
	background:transparent;
	transition: all .200s;
}

input:focus{
    outline: none;
    color:rgba(255,255,255,.75);
    border-color: #DD5285;
}

#search-button {
    font-weight: 200;
    margin-left: 10px;
    display: inline;
}

#search-button:hover {
    cursor: pointer;
}

.result-button {
    display: table;
    padding: 5px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #4F4F4F;
    width: 100%;
}

.result-button p {
    font-size: 1.5vw;    
}

.result-button img {
    width: 10vw;
    height: 10vw;
    float: left;
    margin: 10px;
}

select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: #3D3D3D;
    color: white;
    margin-bottom: 10px;
    font-size: 1.5vw;
}

#selectors {
    display: block;
}

/* AUTH */
    
#authorize-button {
    height: 2.5vw;
    width: 20%;
    margin: auto;    
    border-radius: 20%;
    background-color: #DD5285;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
}

#authorize-button:hover {
    cursor: pointer;
}

/* CHART STUFF */
#result-name {
    font-size: 3vw;
    margin: 40px;
    margin-left: 0px;
    color: #FFFFFF;
}

#result-chart {
    stroke: blue;
    color: #FFFFFF;
}

#result-chart2 {
    stroke: red;
    color: #FFFFFF;
    position: relative;
    left: 40px;
    bottom: 50vh;
}

.result-chart {
    height: 50vh;
}

/* CHARTIST STUFF */

.ct-grids line {
   color: #FFFFFF;
}

.ct-labels span {
   color: #FFFFFF;
   font-size: .75vw;
}

.ct-series-a .ct-line {
  stroke: blue;
}

.ct-series-b .ct-line {
  stroke: green;
}

.ct-series-a .ct-point {
  stroke: blue;
}

.ct-series-b .ct-point {
  stroke: green;
}

@font-face {
    font-family: titleFont;
    src: url(res/agentcyr.ttf);
}