body {background-color: #222222;}

.navbar-inverse {
  background-color: #000000;
  height: 8vh;
}

.navbar-brand {
    color: #ffffff;
}

.tool-name {
    font-size: 0.5em
    color: #DD5285;
}

.tool-name:hover {
    font-size: 0.9em
    color: #DD5285;
}

#header-title {
    color: #FFFFFF;
}

#tools li {
    font-size: 0.5em
    color: #005285;
}

#title-row {
    height: 10vh;
}

#content-row {
    height: 75vh;
}

#info-box {
    height: 50%;
    background-color: #DD5285;
    margin: 5%;
    padding: 5%;
    box-shadow: -10px 10px 0 rgba(0, 0, 0, 0.4);
}

#info-box p {
    font-size: 0.5em;
    color: #222222;
}

#authorize-tools {
    display: block;
    position: relative;
    height: 50vh;
    color: #ffffff;
}

#authorize-button {
    position: fixed;
    height: 3em;
    width: 3em;
    right: 2%;
    bottom: 2%;
    border-radius: 100%;
    background-color: #DD5285;
}
#authorize-button:hover {
    cursor: pointer;
    height: 3.1em;
    width: 3.1em;
}
#authorize-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    color: #222222;
    padding: 0 0;
    margin: auto 0;
    text-align: center;
    font-size: 0.50em;
    font-weight: 600;


}